exlore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
exlore-menu h1{
    color: #262626;
    font-family: 500;

}
exlore-menu-text{
    max-width: 60%;
    columns: #808080;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.exlore-menu-list::-webkit-scrollbar{
    display: none;
}